.catalog h2{
    color: chocolate;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
@media(min-width:768px){
    .products-container{
        grid-template-columns: repeat(3,1fr);
    }
}

/*.catalog {
    padding-top:10px;
}

.catalog h2{
    color: chocolate;
}

.catalog h3{
    font-size: 16px;
}
*/


