.catalog h2{
    color: chocolate;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
@media(min-width:768px){
    .products-container{
        grid-template-columns: repeat(3,1fr);
    }
}