.product{
    border:1px solid gray;
    display:inline-block;
    border-radius: 5px;
    padding:10px;
    margin:10px;
    box-shadow:5px 5px 5px gray;
}
.product img{
    width:150px;
    height:100px;
}
.product label{
    display:block;
}